<section class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-6 col-md-4">
      <div class="form-control mx-auto shadow-lg border-0 p-4">
        <h3 class="mb-3">Password Generator</h3>
        <div>
          <label class="form-label" for="length">Length</label>
          <input
            class="form-control"
            type="number"
            name="length"
            id="length"
            [min]="minPasswordLengthInclusive"
            [max]="maxPasswordLengthExclusive"
            [value]="passwordLength"
            (input)="onPasswordLengthChange($event)"
          />
        </div>

        <div class="mt-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="useLetter"
              id="useLetter"
              [checked]="canUseLetter"
              (change)="toogleUseLetter()"
            />
            <label class="form-check-label" for="useLetter">Use Letter</label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="useNumber"
              id="useNumber"
              [checked]="canUseNumber"
              (change)="toogleUseNumber()"
            />
            <label class="form-check-label" for="useNumber">Use Number</label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="useSymbol"
              id="useSymbol"
              [checked]="canUseSymbol"
              (change)="toogleUseSymbol()"
            />
            <label class="form-check-label" for="useSymbol">Use Symbol</label>
          </div>
        </div>

        <div class="mt-3 grid">
          <button
            class="btn btn-primary w-100"
            [disabled]="!canUseNumber && !canUseLetter && !canUseSymbol"
            (click)="submit()"
          >
            Generate
          </button>
        </div>

        <div class="mt-4" *ngIf="password">
          <span><strong>Password:</strong> {{ password }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
